<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-start ion-no-margin ion-no-padding" style="font-size: 2rem; font-weight: bold;">Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="light"
        size="small"
        style="font-size: 0.5rem; background-color: rgb(15, 15, 108);"
      >
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Novo Cliente</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
