ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
    ion-title {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-align: start;
    }
    ion-buttons[slot="end"] {
      ion-button {
        ion-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
